/*Valor universal*/
*{
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}
/* Estilo reutilizable*/
.uppercase{
  text-transform: uppercase;
}

/*:before :after{

}*/

/*Empezando con estilo header*/
header{
  position: fixed;
  background-color: #2c3e50; /*Azul Marino escuro*/
  font-weight: 900;
  width: 100%;
  height: 115px;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 1000;
}

nav{
margin: 2% 15% 0%;
}

span{
  float: left;
  font-size: 32px;
  color:white;
}

ul{
  list-style: none;
  padding: 0px;
  margin:0px;
  float: right;
  font-size: 18px;
}

/* Para que la lista tenga un efecto de bloque pero ajustandose a su contenido*/
li{
  display: inline-block;
  padding: 12px;
  margin:0px;
}

/*Quitar el delineado de la propiedad que anchor le da automaticamente*/
a{
  text-decoration: none;
  color: white;
}

/* -->Initiating Website */
#first-part{
  background-color: #18bc9c;
  text-align: center;
  color: white;
  height: 768px;
}

#first-part div {
  margin-top: 95px;
}
#first-part img {
  margin-top: 92px;
  margin-bottom: 50px;
}

#first-part h1 {
  font-size: 5em;
  font-family: "Montserrat";
  font-weight: 900;
}

.first-photo img{
  width: 290px;
}

p {
  margin-top: 20px;
  font-size: 1.85em;
  font-family: "Lato";
}

/*Second Part*/
.centering-two{
  margin-top: 113px;
  text-align: center;
}

#second-part h2{
  font-size: 48px;
  font-weight: 900;
  color: #212529;
  margin-bottom: 15px;
}

.group-two{
  display: inline-block;
  text-align: center;
  width: 1500px;
}

.group-two img{
  width: 380px;
  margin: 12px;
}

/* --> Third part <-- */
#third-part{
  width: 100%;
  height: 578px;
  text-align: center;
  /*padding-top: 0.1em;*/
  background-color: #18bc9c;
  color: white;
}

/*Divide la segunda parte de la web con la tercera parte*/
.part-three{
  margin-top: 130px;
  padding-top: 105px;
  text-align: center;
}

#third-part h2 {
 font-family: 'Montserrat', sans-serif;
  font-size: 55px;
  font-weight: 900;
  line-height: 58px;
}

#star-three{
  margin: 8px;
}

div .two-paragraphs {
display: inline-block;
text-align: left;
column-count: 2;
column-gap: 10px;
font-size: 12px;
line-height: 30px;
margin: 0px 520px;
font-family: 'Lato', sans-serif;
}

div .text-two{
  padding-top: 20px;
}

/*Download Button design*/
#first .one-b{
  padding: 16px;
  width: 250px;
  background-color: #18bc9c;
  color: white;
  border-radius: 6px;
  border-color: white;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

#first .one-b:hover{
  color: #18bc9c;
  background-color: white;
}

/*part-four*/
.part-four{
margin-top:130px;
margin-bottom: 450px;
text-align: center;
}

.part-four h2{
font-size:48px;
text-align: center;
font-family: 'Montserrat', sans-serif;
}

#star-four{
  text-align: center;
  margin: 10px 0px 0px 100px;
}

/*Estilo a Formulario*/
.list-two input{
  text-decoration: none;
  border: none;
  outline-color: white;
  font-size: 30px;
  margin-top: 45px;
  margin-left: 100px;
  width: 55%;
  height: 40px;
  line-height: 30px;
}

.list-two .line{
  outline: 1px solid #F2F4F4;
  margin-left: 500px;
  width: 55%;
}

/*Estilo del Boton*/
#two-b{
  margin-top: 280px;
  margin-right: 880px;
  padding: 18px;
  width: 100px;
  background-color: #18bc9c;
  color: white;
  border-radius: 7px;
  border-color: white;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

#two-b:hover{
  filter: contrast(0.7);
}

/*Pie de pagina  ultima parte*/
footer{
  width: 100%;
  background: #2c3e50;
  height: 400px;
  color: white;
  }

  footer h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  }

  .last-part span .words{
  font-family: 'lato', sans-serif;
  font-size: 22px;
  }

  .lp-two span #icon{
  font-family: 'lato', sans-serif;
  font-size: 90px;
  }

#copyright{
  font-size: 20px;
  text-align: center;
  margin-top: 250px;
  outline: 1px solid red;
}
